header {
    position: initial;
}

main {
    width: 100%;
    background-color: #ddd;
}
/* 
.user-header-bottom-style{
    width: 100%;
    top: 0;
    margin: 0;
    padding: 0 8%;
    height: 42px;
    background-color: white;
    position: sticky;
    z-index: 2;
} */

.user-header-bottom-layout{
    height: 100%;
    display: flex;

    justify-content: flex-start;
}

.user-header-bottom-layout a{
    padding: 0 12px;
    height: 100%;
    font-size: 14px;

    display: flex;
    align-items: center;
}

.user-header-bottom-layout i{
    font-size: 26px;
}

.user-header-bottom-layout a:hover{
    color: green;
}

.user-page-content-style{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.user-info-container-style{
    height: 186px;
    margin: auto;
    padding-top: 24px;
}

.user-info-container-layout{
    height: 162px;
    padding: 24px 24px 0 24px;
    
    background-color: white;

    display: flex;
}

.user-info-left-part{
    height: 100%;
    width: 85%;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.user-info-image img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 12px;
}

.user-nickname{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 15px;
}

.user-container-PFF{
    display: flex;
    flex-direction: row;
    margin-top: 8px;
}

.user-container-PFF div{
    font-size: 18px;
    font-weight: bold;
    padding: 4px 3px;
    margin-right: 48px;
}

.user-container-PFF a{
    font-size: 22px;
}


/* 다른 유저 프로필 버튼 */
.user-info-right-part{
    width: 15%;
    display: flex;
    height: 40px;
}

.follow-button{
    width: 60%;
}

.comment-button, .vesides-button{
    width: 20%;
}

.user-info-right-part button{
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #e2e2e2;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
}
/* 본인 프로필 수정 버튼 */

.my-info-right-part{
    display: flex;
    height: 40px;
    width: 160px;
}

.my-info-right-part input{
    display: none;
}

.my-info-right-part label{
    width: 80%;
    height: 40px;
    font-size: 14px;
    font-weight: bold;
    border: 1px solid #e2e2e2;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 12px 0;
    cursor: pointer;
}

.BC-style{
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    height: 107px;
    width: 100%;
    z-index: -1;
}

.user-page-content-bottom-style{
    height: 42px;
    top: 0px;
    background-color: white;
    position: sticky;
    z-index: 2;
}

.user-page-content-bottom-layout{
    display: flex;
    height: 100%;
}

.user-page-content-bottom-layout li:first-child{
    margin-left: 5px;
}

.user-page-content-bottom-layout > li span{
    display: flex;
    width: 70px;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
}

.user-page-content-bottom-layout input {
    display: none;
}

.user-page-content-bottom-layout input:checked + label > span {
    font-weight: bold;
    border-bottom: 2px solid #009f5e;
}

.user-page-review-colums-style{
    margin-top: 24px;
}

.user-page-review-colums-layout{
    display: flex;
    align-items: flex-start;
}

.user-page-review-colums1{
    background-color: white;
    padding: 24px;
    width: 35%;
    margin-bottom: 30px;

    display: flex;
    flex-direction: column;
}

.user-page-review-colums1 div{
    margin-bottom: 12px;
    font-size: 16px;
    font-weight: bold;
}

.user-page-review-colums1 span{
    margin-top: 12px;
    margin-left: 12px;
    font-size: 14px;
}

.user-page-review-colums2{
    background-color: white;
    width: 100%;
    margin-bottom: 12px;
    padding-bottom: 10px;
    position: relative;
}

.user-page-review-header-style{
    display: flex;
    align-items: center;
    height: 61px;
    margin-bottom: 12px;
}

.user-page-review-header-layout{
    padding: 0 24px;
    padding-top: 16px;
    display: flex;
    width: 90%;
}

.user-page-review-dot-style{
    background-color: white;
    border: none;
    padding-left: 24px;
    width: 10%;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
    right: 10px;
}

.user-page-review-dot-style:hover,
.review-bottom-menu-style div, .review-navi-left div, 
.review-navi-right i{
    cursor: pointer;
}

.review-navi-right{
    margin-top: 5px;
}

.user-page-review-header-layout img{
    width: 42px;
    height: 42px;
    border-radius: 50%;

    margin-right: 8px;
}

.review-user-info-layout{
    display: flex;
    flex-direction: column;
}

.review-user-image, .review-date{
    font-size: 14px;
}

.review-user-dday{
    font-size: 12px;
}

.review-user-nickname a, .rdt{
    font-weight: bold;
}

.review-user-nickname a:hover, .review-user-dday:hover, .user-container-PFF a:hover, 
.review-data-table-style:hover .review-title, .review-support:hover, .review-bottom-menu-style div:hover{
    text-decoration: underline;
}

.review-user-dday{
    color: gray;
}

.review-data-table-style{
    padding: 0 24px;
    cursor: pointer;
}

.review-point{
    color: green;
    letter-spacing: -1.5px;
    font-size: 18px;
    margin-bottom: 8px;
}

.review-title{
    font-size: 18px;
    font-weight: bold;
}

.review-content{
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
}

.review-navi{
    margin: 12px 0;
}

.review-support{
    padding: 8px 24px;
    font-size: 12px;
    color: #757575;
    cursor: pointer;
    /* max-height: 0; */
    display: none;
}


.review-bottom-menu-style{
    display: flex;
    padding: 0 24px;
    font-size: 12px;
    margin-bottom: 12px;
    margin-top: 12px;
    font-weight: bold;
}

.review-bottom-menu-style div{
    margin-right: 20px;
}

.review-bottom-menu-style i{
    color: #757575;
    margin-right: 5px;
    font-size: 18px;
}

.review-bottom-menu-style .suport-button:hover i,
.review-bottom-menu-style .share-button:hover i{
    color: black;
}

.review-bottom-menu-style .save-button:hover i,
.review-navi-right i:hover{
    color: #ff564f;
}

.review-navi-style{
    width: 290px;
    height: 68px;
    border: 1px solid #ddd;
    margin: 8px 24px;
}

.review-navi-layout{
    display: flex;
}

.review-navi-left{
    display: flex;
    width: 90%;
    height: 100%;
    font-size: 12px;
}

.review-navi-left img{
    width: 66px;
    height: 66px;
    margin-right: 10px;
}

.review-navi-deep{
    display: flex;
}

.review-navi-title{
    align-self: center;
}

.review-navi-deep-point i{
    color: green;
    letter-spacing: -3px;
    font-size: 10px;
}

.review-navi-deep-point{
    margin-right: 7px;
}

.review-navi-title > div:first-child{
    font-weight: bold;
    margin-bottom: 2px;
}

.review-navi-deep > div:last-child, .review-navi-title > div:last-child, .review-navi-right{
    color: #757575;
}

.user-page-review-colums3{
    background-color: white;
    padding: 24px;
    width: 35%;
    visibility: hidden;
}

.review-list{
    width: 100%;
    margin: 0 24px;
}

.temp-web{
    padding: 0 20%;
}

/* 미디어쿼리 화면 반응형 */
@media (max-width: 1070px){

    .temp-web{
        padding: 0;
    }

    .user-page-review-colums1, .user-page-review-colums3{
        display: none;
    }

    .user-page-review-dot-style{
        position: absolute;
        right: 10px;
    }
}

/* 사진 슬라이드 CSS */
.slide img{
    width: 100%;
}

.slide-container-style{
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.slide-container-style img{
    height: 350px;
}

.slide{
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    border-radius: 15%;
    background-color: rgba(0, 10, 18, 0.6);
}

.active{
    background-color: #717171;
}

.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

/* 리뷰 닷 다운 메뉴 */

.user-page-review-dot-down-menu{
    display: none;
    /* border: 1px solid black; */
    width: 100px;
    position: relative;
    top: 40px;
    right: 30px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 10px 1px;
    background: white;
    border-radius: 10%;
    padding: 5px;
    text-align: center;
    /* display: none; */
    z-index: 1;
}

.user-page-review-dot-down-menu li:hover{
    background-color: #ddd;
    border-radius: 15px;
}

/* 리뷰 작성 아무것도 안했을 때 나오는 화면 */
.user-page-review-none-content{
    padding: 48px 60px;
}

.none-content-title{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.none-content{
    font-size: 17px;
    text-align: center;
    margin-bottom: 40px;
}

.none-content-review-create{
    text-align: center;
    font-size: 14px;
}

.none-content-review-create:hover{
    text-decoration: underline;
    font-weight: bold;
}

.none-content-review-create:hover i{
    color: black;
}

.none-content-review-create i{
    margin-right: 10px;
    font-size: 20px;
    color: gray;
}

/* footer 화면 설정 (하단 공백부분 제거) */
footer{
    justify-content: flex-end;
    margin: 0;
}