<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="memberMapper">

	<resultMap type="Member" id="member_rm">
		<id property="memberNo" column="MEMBER_NO"/>
		<result property="memberEmail" column="MEMBER_EMAIL"/>
		<result property="memberPw" column="MEMBER_PW"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="memberName" column="MEMBER_NAME"/>
		<result property="memberRRN" column="MEMBER_RRN"/>
		<result property="memberTel" column="MEMBER_TEL"/>
		<result property="memberAddress" column="MEMBER_ADDRESS"/>
		<result property="enrollDate" column="ENROLL_DATE"/>
		<result property="sleepFlag" column="SLEEP_FL"/>
		<result property="lastLoginDate" column="LAST_LOGIN_DATE"/>
		<result property="profileImage" column="PROFILE_IMAGE"/>
		<result property="authority" column="AUTHORITY"/>
	</resultMap>
	
	
	<!-- 로그인 -->
	<select id="login" parameterType="string" resultMap="member_rm">
		SELECT MEMBER_NO, MEMBER_EMAIL, MEMBER_PW, MEMBER_NICKNAME, MEMBER_NAME, MEMBER_RRN, MEMBER_TEL, MEMBER_ADDRESS, ENROLL_DATE, SLEEP_FL, 
				LAST_LOGIN_DATE, PROFILE_IMAGE, AUTHORITY,
				TO_CHAR(ENROLL_DATE, 'YYYY"년" MM"월" DD"일" HH24"시" MI"분" SS"초"') AS ENROLL_DATE
		FROM "MEMBER"
		WHERE SECESSION_FL = 'N'
		AND MEMBER_EMAIL = #{memberEmail}
	</select>
	
	<select id="emailDupCheck" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM MEMBER 
		WHERE MEMBER_EMAIL = #{memberEmail}
		AND SECESSION_FL = 'N'
	</select>
</mapper>



