<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="profileMapper">

	
	<!-- review resultMap -->
	  <resultMap type="Review" id="review_rm">
		<id property="reviewNo" column="REVIEW_NO"/>
		<result property="rating" column="RATING"/>
		<result property="reviewTitle" column="REVIEW_TITLE"/>
		<result property="reviewContent" column="REVIEW_CONTENT"/>
		<result property="reviewDate" column="REVIEW_DATE"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="contentId" column="CONTENT_ID"/>
		<result property="firstImage" column="FIRST_IMAGE"/>
		<result property="reviewImagePath" column="REVIEW_IMAGE_PATH"/>
		<result property="profileImage" column="PROFILE_IMAGE"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		
		 
		<collection property="reviewImgList" javaType="java.util.ArrayList"
		ofType="ReviewImage" select="selectReviewImageList" column="REVIEW_NO"/>
		
	</resultMap>
	
	
	
	<!--reviewImgae resultMap-->
	<resultMap type="ReviewImage" id="reviewImage_rm">
		<id property="reviewImageNo" column="REVIEW_IMAGE_NO"/>
		<result property="reivewNo" column="REVIEW_NO"/>
		<result property="reviewImagePath" column="REVIEW_IMAGE_PATH"/>
		<result property="reviewImageOrder" column="REVIEW_IMAGE_ORDER"/>
		<result property="reviewImageReName" column="REVIEW_IMAGE_RENAME"/>
		<result property="reviewImageOriginal" column="REVIEW_IMAGE_ORIGINAL"/>
	</resultMap>
	
	<!-- 프로필 페이지 메뉴 별 게시글 수 조회  -->
	<select id="getListCount" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM REVIEW
		WHERE REVIEW_FL = 'N'
	</select>
	
	<select id="ReviewSelectList" resultMap="review_rm">
		SELECT REVIEW_NO, REVIEW_TITLE, REVIEW_CONTENT, TO_CHAR(REVIEW_DATE, 'YYYY"년" MM"월"') REVIEW_DATE, 
			CONTENT_ID,	FIRST_IMAGE, MEMBER_NO, PROFILE_IMAGE, MEMBER_NICKNAME
		FROM REVIEW
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		WHERE REVIEW_FL = 'N'
		AND MEMBER_NO = 1
		ORDER BY REVIEW_NO
	</select>
	
	<!-- 특정 게시글의 이미지 목록 조회 -->
	<select id="selectReviewImageList" resultMap="reviewImage_rm">
		SELECT * FROM REVIEW_IMAGE
		WHERE REVIEW_NO = 1
		ORDER BY REVIEW_IMAGE_NO
	</select>
	
</mapper>
