<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="profileMapper">

	
	<!-- review resultMap -->
	  <resultMap type="HSHReview" id="review_rm">
		<id property="reviewNo" column="REVIEW_NO"/>
		<result property="rating" column="RATING"/>
		<result property="reviewTitle" column="REVIEW_TITLE"/>
		<result property="reviewContent" column="REVIEW_CONTENT"/>
		<result property="reviewDate" column="REVIEW_DATE"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="contentId" column="CONTENT_ID"/>
		<result property="firstImage" column="FIRST_IMAGE"/>
		<result property="reviewImagePath" column="REVIEW_IMAGE_PATH"/>
		<result property="profileImage" column="PROFILE_IMAGE"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		
		<!-- 
		<collection property="imageList" javaType="java.util.ArrayList"
		ofType="HSHReviewImage" select="selectReviewList" column="MEMBER_NO"/>
		
		<collection property="memberList" javaType="java.util.ArrayList"
		ofType="Member" select="selectReviewList" column="MEMBER_NO"/>
		 -->
	</resultMap>
	
	
	
	<!--reviewImgae resultMap-->
	<resultMap type="HSHReviewImage" id="reviewImage_rm">
		<id property="reviewImageNo" column="REVIEW_IMAGE_NO"/>
		<result property="reivewNo" column="REVIEW_NO"/>
		<result property="reviewImagePath" column="REVIEW_IMAGE_PATH"/>
		<result property="reviewImageOrder" column="REVIEW_IMAGE_ORDER"/>
		<result property="reviewImageReName" column="REVIEW_IMAGE_RENAME"/>
		<result property="reviewImageOriginal" column="REVIEW_IMAGE_ORIGINAL"/>
	</resultMap>
	
	<!-- 프로필 페이지 메뉴 별 게시글 수 조회  -->
	<select id="getListCount" parameterType="string" resultType="_int">
		SELECT COUNT(*)
		FROM REVIEW
		WHERE REVIEW_FL = 'N'
	</select>
	
	<select id="selectReviewList" resultMap="review_rm">
		SELECT REVIEW_NO, REVIEW_TITLE, REVIEW_CONTENT, TO_CHAR(REVIEW_DATE, 'YYYY"년" MM"월"') REVIEW_DATE,
				CONTENT_ID, FIRST_IMAGE, MEMBER_NO, PROFILE_IMAGE, MEMBER_NICKNAME, REVIEW_IMAGE_PATH
		FROM REVIEW
		LEFT JOIN "MEMBER" USING(MEMBER_NO)
		LEFT JOIN REVIEW_IMAGE USING(REVIEW_NO)
		WHERE REVIEW_FL = 'N'
		ORDER BY REVIEW_NO
	</select>
	
</mapper>
