<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="travelMapper">
	<resultMap type="Travel" id="travel_rm">
		<id property="travelNo" column="TRAVEL_NO"/>
		<result property="travelTitle" column="TRAVEL_TITLE"/>
		<result property="travelContent" column="TRAVEL_CONTENT"/>
		<result property="memberNo" column="MEMBER_NO"/>
		<result property="memberNickname" column="MEMBER_NICKNAME"/>
		<result property="profileImage" column="PROFILE_IMAGE"/>
		<result property="travelPlaceCount" column="TRAVEL_PLACE_COUNT"/>
		<result property="travelDate" column="TRAVEL_DATE"/>
		<result property="privateFlag" column="PRIVATE_FL"/>
		<result property="travelFirstImage" column="TRAVEL_FIRST_IMAGE"/>
		<result property="travelLikeCount" column="TRAVEL_LIKE_COUNT"/>
	</resultMap>
	
	<!-- 특정회원 여행목록 조회 -->
	<select id="selectTravelList" parameterType="map" resultMap="travel_rm">
		SELECT T.TRAVEL_NO, T.TRAVEL_TITLE, T.PRIVATE_FL, T.MEMBER_NO,
			TO_CHAR(T.TRAVEL_DATE, 'YYYY"년" MM"월" DD"일"') TRAVEL_DATE,
			(SELECT PS.FIRST_IMAGE FROM "PLACE_SCRAP" PS
				WHERE PS.PLACE_SCRAP_NO = 
					(SELECT TL.PLACE_SCRAP_NO  
					FROM "TRAVEL_LIST" TL
					WHERE TRAVEL_LIST_ORDER = (SELECT MIN(TRAVEL_LIST_ORDER) FROM "TRAVEL_LIST" WHERE TL.TRAVEL_NO = T.TRAVEL_NO))
					) TRAVEL_FIRST_IMAGE,
			(SELECT COUNT(*) FROM "TRAVEL_LIST" TL WHERE TL.TRAVEL_NO = T.TRAVEL_NO) TRAVEL_PLACE_COUNT,
			(SELECT MEMBER_NICKNAME FROM "MEMBER" M WHERE M.MEMBER_NO = T.MEMBER_NO) MEMBER_NICKNAME,
			(SELECT PROFILE_IMAGE FROM "MEMBER" M WHERE M.MEMBER_NO = T.MEMBER_NO) PROFILE_IMAGE,
			(SELECT COUNT(*) FROM "TRAVEL_LIKE" WHERE TRAVEL_NO = T.TRAVEL_NO) TRAVEL_LIKE_COUNT
		FROM TRAVEL T
		WHERE MEMBER_NO = #{memberNo}
		AND T.TRAVEL_DEL_FL = 'N'		
		<if test="privateFlag == 0">		<!-- 공개만 -->
			AND T.PRIVATE_FL = 'N'
		</if>
		<if test="privateFlag == 1">		<!-- 비공개만 -->
			AND T.PRIVATE_FL = 'Y'
		</if>
	</select>
	
	<!-- 여행 생성 -->
	<insert id="createTravel">
		INSERT INTO TRAVEL (TRAVEL_NO, TRAVEL_TITLE, MEMBER_NO, TRAVEL_DATE, PRIVATE_FL) VALUES(SEQ_TRAVEL_NO.NEXTVAL,
			#{travelTitle}, #{memberNo}, DEFAULT, #{privateFlag})
	</insert>
	
	<!-- 테이블 정보 수정 (제목, 설명, 마지막수정날짜) -->
	<update id="updateTravel">
		UPDATE "TRAVEL" SET
		TRAVEL_TITLE = #{travelTitle},
		TRAVEL_CONTENT = #{travelContent},
		TRAVEL_DATE = SYSDATE
		WHERE TRAVEL_NO = #{travelNo}
	</update>
	
	
	<!-- travel_list 테이블 정보 수정 (여행에 등록된 장소 목록 업데이트) -->
	<update id="updateTravelList" parameterType="list">
		MERGE INTO "TRAVEL_LIST" TL
		USING (SELECT * FROM
			<foreach collection="list" item="place" open="(" close=")" separator="UNION ALL" index="index">
				SELECT #{place.travelNo} TRAVEL_NO,
						#{index} TRAVEL_LIST_ORDER,
						#{place.placeScrapNo} PLACE_SCRAP_NO
				FROM DUAL
			</foreach> 
		) A
		ON (TL.TRAVEL_NO = A.TRAVEL_NO AND TL.TRAVEL_LIST_ORDER = A.TRAVEL_LIST_ORDER)
		WHEN MATCHED THEN
			UPDATE SET TL.PLACE_SCRAP_NO = A.PLACE_SCRAP_NO
		WHEN NOT MATCHED THEN
			INSERT VALUES (SEQ_TRAVEL_LIST_NO.NEXTVAL, A.TRAVEL_NO, DEFAULT, A.TRAVEL_LIST_ORDER, A.PLACE_SCRAP_NO)
	</update>
	
	<!-- 수정된 장소 리스트의 최대 order보다 높은 order를 가진 장소 삭제 -->
	<delete id="deleteTravelList">
		DELETE FROM "TRAVEL_LIST"
		WHERE TRAVEL_NO = #{travelNo}
		<![CDATA[
			AND TRAVEL_LIST_ORDER >= #{maxOrder}
		]]>
	</delete>
	
	<!-- 여행 삭제 -->
	<update id="deleteTravel">
		UPDATE "TRAVEL" SET
		TRAVEL_DEL_FL = 'Y'
		WHERE TRAVEL_NO = #{travelNo}
	</update>
	
	
	<!-- 여행 스크랩 -->
	<insert id="insertTravelScrap">
		INSERT INTO TRAVEL_SCRAP (MEMBER_NO, TRAVEL_NO, SCRAP_DATE)
		VALUES(#{memberNo}, #{travelNo}, SYSDATE)
	</insert>
	
	<!-- 여행 스크랩 취소 -->
	<delete id="deleteTravelScrap">
		DELETE FROM TRAVEL_SCRAP
		WHERE MEMBER_NO = #{memberNo}
		AND TRAVEL_NO = #{travelNo}
	</delete>
	
	<!-- 여행 좋아요 -->
	<insert id="insertTravelLike">
		INSERT INTO TRAVEL_LIKE (MEMBER_NO, TRAVEL_NO) VALUES(#{memberNo}, #{travelNo})
	</insert>
	
	<!-- 여행 좋아요 취소 -->
	<delete id="deleteTravelLike">
		DELETE FROM TRAVEL_LIKE
		WHERE MEMBER_NO = #{memberNo}
		AND TRAVEL_NO = #{travelNo}
	</delete>
	
	<!-- 여행 좋아요 체크-->
	<select id="checkTravelLike" resultType="_int">
		SELECT COUNT(*) FROM TRAVEL_LIKE
		WHERE MEMBER_NO = #{memberNo}
		AND TRAVEL_NO = #{travelNo}
	</select>
	
	<!-- 여행 스크랩 체크 -->
	<select id="checkTravelScrap" resultType="_int">
		SELECT COUNT(*) FROM TRAVEL_SCRAP
		WHERE MEMBER_NO = #{memberNo}
		AND TRAVEL_NO = #{travelNo}
	</select>
	
	<!-- 특정 회원이 스크랩한 여행 목록 조회 -->
	<select id="selectTravelScrapList" resultMap="travel_rm">
		SELECT T.TRAVEL_NO, T.TRAVEL_TITLE, T.PRIVATE_FL, T.MEMBER_NO,
			TO_CHAR(T.TRAVEL_DATE, 'YYYY"년" MM"월" DD"일"') TRAVEL_DATE,
			(SELECT PS.FIRST_IMAGE FROM "PLACE_SCRAP" PS
				WHERE PS.PLACE_SCRAP_NO = 
					(SELECT TL.PLACE_SCRAP_NO  
					FROM "TRAVEL_LIST" TL
					WHERE TRAVEL_LIST_ORDER = (SELECT MIN(TRAVEL_LIST_ORDER) FROM "TRAVEL_LIST" WHERE TL.TRAVEL_NO = T.TRAVEL_NO))
					) TRAVEL_FIRST_IMAGE,
			(SELECT COUNT(*) FROM "TRAVEL_LIST" TL WHERE TL.TRAVEL_NO = T.TRAVEL_NO) TRAVEL_PLACE_COUNT,
			(SELECT MEMBER_NICKNAME FROM "MEMBER" M WHERE M.MEMBER_NO = T.MEMBER_NO) MEMBER_NICKNAME,
			(SELECT PROFILE_IMAGE FROM "MEMBER" M WHERE M.MEMBER_NO = T.MEMBER_NO) PROFILE_IMAGE,
			(SELECT COUNT(*) FROM "TRAVEL_LIKE" WHERE TRAVEL_NO = T.TRAVEL_NO) TRAVEL_LIKE_COUNT
		FROM TRAVEL T
		JOIN TRAVEL_SCRAP TS ON (T.TRAVEL_NO = TS.TRAVEL_NO)
		WHERE TS.MEMBER_NO = #{memberNo}
		AND T.TRAVEL_DEL_FL = 'N'
		AND T.PRIVATE_FL = 'N'
	</select>
</mapper>



