@font-face {
    font-family: 'LINESeedKR-Rg';
    src: url("/resources/fonts/LINESeedKR-Rg.woff2") format('woff2');
    font-weight: 400;
}


* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    font-family: 'LINESeedKR-Rg';
}

a {
    text-decoration: none;
    color: black;
}

li {
    list-style: none;
}
header, main, footer, div, span, article, a, form {
    /* border: 1px solid black; */
}

html, body{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/************************* header *************************/
header {
    /* padding: 15px 0px; */
    padding: 10px 0;
    width: 1200px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    height: 65px;
    background-color: white;
    z-index: 1000;
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
}


header > .left-column {
    display: flex;
    justify-content: flex-start;
    flex-basis: 25%;
}
header > .right-column {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-basis: 25%;
}

.header-nav {
    display: flex;
    justify-content: flex-end;
    /* margin-right: 15px; */
    height: 100%;
}
header > .right-column > .header-nav i {
    margin-right: 10px;
}
.header-nav > li {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-size: 1.1em;
}
.header-nav > li a {
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 90%;
    border-radius: 20px;
    transition: 0.2s;
}
.header-nav > li a:hover {
    background-color: #EDEDED;
}
.header-login {
    margin-right: 10px;
    display: inline-block;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 25%;
    width: 100px;
    border-radius: 20px;
    cursor: pointer;
    height: 90%;
    font-size: 1.2em;
}
.header-signUp {
    display: inline-block;
    background-color: #2DC48D;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    border-radius: 20px;
    cursor: pointer;
    height: 90%;
    font-size: 1.2em;
}
.profile-img {
    position: relative;
}
.profile-img img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}
label[for='header-menu-toggle'] {
    display: flex;
    align-items: center;
}

/***************************** 탑 다운 메뉴 *****************************/
.top-down-menu {
    margin-top: 10px;
    background: white;
    width: 150px;
    /* padding: 15px; */
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.2) 0 1px 10px 1px;
    position: absolute;
    top: 20;
    right: 0;
    max-height: 0;
    /* visibility: hidden; */
    transition: 0.1s;
    overflow: hidden;
}
.top-down-menu > ul {
    list-style: none;
}
.top-down-menu a {
    display: flex;
    padding: 5px;
    font-size: 16px;
    justify-content: flex-end;
}
.top-down-menu a:hover {
    background-color: #ddd;
    border-radius: 15px;
}

.top-down-menu:after {
	bottom: 100%;
	left: 88%;
	border: solid transparent;
	content: "";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: white;
	border-width: 10px;
	margin-left: -10px;
}
#header-menu-toggle {
    display: none;
}

#header-menu-toggle:checked + div {
    max-height: 300px;
    visibility: visible;
    padding: 15px;
}

/*********************************  header-search-form  **********************************/
.header-search {
    position: relative;
    flex-basis: 80%;
    display: flex;
    justify-content: center;
}

.header-search .search-form {
    border-radius: 40px;
    width: 70%;
    /* height: 18%; */
    min-height: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: 2px solid black;
    /* box-shadow: rgba(0, 0, 0, 0.4) 0 3px 5px 1px; */
    position: absolute;
    top: calc((100% / 2) - 25px);
    z-index: 600;
}
.header-search .search-form:focus-within {
    border-radius: 15px;
    z-index : 700; 
}

.header-search .search-input-box {
    width: 97%;
    position: relative;
}
#search-btn{
    width: 5%;
    height: 100%;
    font-size: 20px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
}
.header-search .search-form input[name='searchKeyword'] {
    width: 100%;
    height: 45px;
    padding: 0 50px;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 40px;
    background-color: transparent;
}
.header-search .search-form input[name='searchKeyword']:focus {
    border-bottom: 1px solid black;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}
/************************* search-keyword-area *************************/
.search-keyword-area {
    width: 100%;
    /* display: none; */
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.2s ease-in;
}
.search-keyword-area a{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 15px 25px;
    font-size: 20px;
    transition: 0.2s;
    cursor: pointer;
}
.search-keyword-area a:hover {
    background-color: #ddd;
}
.search-keyword-area a:last-of-type {
    margin-bottom: 15px;
}

.search-keyword-area a > i {
    border: 2px solid #ccc;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search-keyword-area a > span {
    margin-left: 20px;
}

.popular-keyword-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popular-keyword-list hr {
    width: 95%;
    background: #ddd;
    border: 0;
    height: 1.5px;
}
.search-keyword-title {
    align-self: flex-start;
    font-size: 14px;
    font-weight: bold;
    display: block;
    padding: 20px 25px 10px;
}
/******************** blur-box *********************/
.blur-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    opacity: 0;
    z-index: -1;
    pointer-events: none;
    transition: 0.2s;
}

.js-visiable {
    /* display: block; */
    max-height: 100vh;
    margin-top: 15px;
}
.js-blur {
    opacity: 0.8;
}
.popular-keyword-list .js-border-none {
    background: none;
}